@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

.name1 {
  position: absolute;
  color: white;
  margin-top: 30px;
  font-family: "Open Sans";
  font-size: 15px;
  margin-left: 20px;
}
.container {
}
.ind_img {
  transition: 0.5s;
}
.ind_img:hover {
  transform: scale(1.1);
}
